<h1> <%= @cocktail.name %></h1>

<h2> List of doses:</h2>
<ul>
  <% @doses_of_cocktail.each do |dose_of_cocktail|  %>
    <li> <%= dose_of_cocktail.ingredient.name + " " + "(" + dose_of_cocktail.description + ")." %> <span> <%= link_to "Delete this dose", dose_path(dose_of_cocktail), method: :delete%></span></li>
  <%end %>
</ul>

<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
<br>
<br>
<%= link_to "Back", cocktails_path %>
